<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{index :: defaultHead}">
</head>

<body>
    <div class="container">
        <div id="alertMessage" class="row"></div>
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Authors</h1>
                <a class="btn btn-primary" th:href="@{/authors/add}">
                    <i class="fa-regular fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped table-responsive-lg">
                    <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th># Posts</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="author:${authors}" >
                            <td th:text="${author.firstName}"></td>
                            <td th:text="${author.lastName}"></td>
                            <td th:text="${author.email}"></td>
                            <td th:text="${author.numberOfPost}"></td>
                            <td>
                                <a class="btn btn-warning" th:href="@{/authors/modify/{id}(id=${author.id})}">
                                    <i class="fa-solid fa-pen"></i>
                                </a>
                                <button class="btn btn-danger delete-op" th:data-id="${author.id}">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="/js/authors.js"></script>
</body>

</html>