<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="defaultHead">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-danger" type="submit">
                        <i class="fa-solid fa-sign-out"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Blog</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center flex-column">
                <div class="d-flex">
                    <span class="me-2">User</span>
                    <span class="mx-2" th:text="${#authentication.name}"></span>
                    <span class="mx-2" ec:authentication="name"></span>
                </div>
                <div class="d-flex">
                    <span class="me-2">Roles</span>
                    <span class="mx-2" th:each="authority:${#authentication.principal.authorities}" th:text="${authority}"></span>
                    <span class="mx-2" sec:authentication="principal.authorities"></span>
                </div>
                <a sec:authorize="hasRole('ADMIN')" th:href="@{/{path}(path=${authorsPath})}" class="btn btn-primary my-2">Authors View</a>
                <!-- <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="@{/{path}(path=${authorsPath})}" class="btn btn-primary my-2">Authors View</a> -->
                <a th:href="@{/{path}(path=${postsPath})}" class="btn btn-primary my-2">Posts View</a>
                <a th:href="@{/{path}(path=${commentsPath})}" class="btn btn-primary my-2">Comments View</a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>