<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{index :: defaultHead}">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Add Post</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form th:action="@{/posts/save}" th:object="${pippo}" method="post">
                    <div class="mb-3">
                      <label for="pd" class="form-label">Date</label>
                      <input type="text" class="form-control" th:field="*{publishDate}" id="pd" placeholder="Date format yyyyMMdd" required>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" th:field="*{title}" id="title" placeholder="Post title" required>
                      </div>
                      <div class="mb-3">
                        <label for="body" class="form-label">Body</label>
                        <textarea class="form-control" th:field="*{body}" id="body" placeholder="Post body" rows="10" required></textarea>
                      </div>
                      <div class="mb-3">
                        <label for="author" class="form-label">Author</label>
                        <select id="author" class="form-select" th:field="*{authorId}">
                            <option th:each="author:${paperini}" th:text="${author.firstName} + ' ' + ${author.lastName}" th:value="${author.id}"></option>
                        </select>
                      </div>
                      <button type="submit" class="btn btn-success col-2">Save</button>
                      <button type="reset" class="btn btn-danger col-2">Clean</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>