<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{index :: defaultHead}">
</head>

<body>
    <div class="container">
        <div id="alertMessage" class="row"></div>
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Posts</h1>
                <a class="btn btn-primary" th:href="@{/posts/add}">
                    <i class="fa-regular fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped table-responsive-lg">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Body lenght</th>
                            <th>Author</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="post:${posts}" >
                            <td th:text="${post.title}"></td>
                            <td th:text="${post.bodyLenght}"></td>
                            <td th:text="${post.authorFirstName} + ' ' + ${post.authorLastName}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script>
        const alertMessage = document.querySelector("#alertMessage");
    </script>
</body>

</html>